@font-face {
    font-family: jelleeRoman;
    src: url(../fonts/jellee.roman.ttf) format("truetype");
}

div.reviews {
    width: 90%;
    margin: 2% auto;
    background-image: '../images/review-background.jpg';

}
div.review_header {
    width: 90%;
    position: center;
}

.review_header h1 {
    font-family: jelleeRoman;
    font-size: 6rem;
    color: darkseagreen;
    margin: 0% 0% auto;
}

.box {
    
    padding: 10px;
    border: 3px solid #964e4e;
    border-radius: 15px;
    width: 50%;
}

.userReview {
    width: 30rem;
    margin-left: 30%;
    margin-top: 2rem;
}

.inputReview {

    background-color: #ffff;
    width: 100%;
    height: 10em;
}

.notification {
    margin: 2% 0% auto;
    background-color: green;
    width: fit-content;
    border-radius: 5%;
    position: absolute;
    font-size: 1.5rem;
}

.addReview {
    align-items: center;
}