.navbar-brand {
  padding-left: 4rem;
}

.nav-logo {
  width: 50%;
}

.bg-body-tertiary {
  width: 100%;
  padding-left: 1rem;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  gap: 1rem;
}

/* Customize the link color */
.navbar a.nav-link {
  color: #000000; /* Set the desired color */
  font-size: 1.5rem;
}

/* Add hover effect to the links */
.navbar a.nav-link:hover {
  color: #bd2023; /* Set the desired color on hover */
}

/* Customize the active link */
.navbar a.nav-link.active {
  font-weight: bold; /* Set the desired font weight */
  color: #bd2023; /* Set the desired color on hover */
}

.navbar a.nav-link.show {
  color: #bd2023; /* Set the desired color on hover */
}

