div.contactus{
    width: 90%;
    margin: 7% auto;
}

div.contactus_header p {
    font-size: xx-large;
    font-style: normal;
}

@font-face {
    font-family: jelleeRoman;
    src: url(../fonts/jellee.roman.ttf) format("truetype");
}

.contactus_header h1 {
    font-family: jelleeRoman;
    font-size: 6rem;
    color: darkseagreen;
  
}

.image {
    width: 80%;
    height: 100%;
}

div.contactus-container {
    margin: 2% 8% auto;
    font: normal;
}

div.chatbox{
    margin: 10% 0% auto
}

div.chatbox-container {
    background-color: white;
    border: 2px solid black; 
}

.dropdown {
    position:absolute;
}