.hero-image {
    width: 300%;
    margin-top: -12rem;
}

.alert-custom {
    width: fit-content;
    margin: 1% 5% auto;
    border: 1px solid #cccccc;
  }

  .next-section {
    position: relative;
    z-index: 1;
    /* Add other styling properties as needed */
  }

  .iframe-container{
    z-index: 0;
  }

  .text {
    padding: 8%;
  }
  